
.container-result {
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    width: 100vw;
    text-align: center;
}

.container-result-options {
  height: 10vh;
  display: flex;

}
.container-result-options button {
  font-size: 2rem;
  height: 80%;
}
.container-result-options h2 {
  font-size: 3rem;
  width: fit-content; 
}
.container-result-option {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-result-body {
  height: 100%;
  width: 100%;
  height: 75vh;

}

.wrapper-result {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative; 
  overflow-y:auto;


}

.content-result {
  display: flex;
  justify-content: space-evenly;
  height: 90%;
  width: 100%;

  padding: 1%;
  
}

.content-result-body {
  width: 45%;  
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: burlywood;
  border-radius: 45px;
}

.content-result-answer {
  width: 20%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;


}
.content-result-header {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.content-result-header h4 {
  margin: 0;
  font-size: 2em;
}
.content-result-image {
  height: 80%;
  width: 100%;

  padding: 2%;
}
.content-result-image img {
  height: 100%;
  width: 80%;
  border: none;
}
